<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #212529!important;">
  <!-- <div> -->
  <a class="navbar-brand" href="#">Teams</a>
  <!-- </div> -->
  <!-- <div> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      <%if(currentUser){%>
        <a class="nav-item nav-link active" href="/chat">Chat</a>
      <%}%>
      <%if(!currentUser){%>
        <a class="nav-item nav-link" href="/login">Login</a>
      <%}else{%>
        <a class="nav-item nav-link" href="/logout">Logout</a>
      <%}%>
    </div>
  </div>
<!-- </div> -->
</nav>
    <div style="padding-top: 1.5rem!important; padding-bottom: 1.5rem!important;" class="container py-5 px-4" >
        <!-- For demo purpose-->
        <header class="text-center">
        </header>
      
        <div class="row rounded-lg shadow overflow-hidden" style="border: 2px black solid; height: 500px;">
          
          <!-- Users box-->
          <div class="col-5 px-0">
            <div class="bg-white">
      
              <div class="bg-gray px-4 py-2 bg-light">
                <p class="h5 mb-0 py-1">Recent Meetings</p>
              </div>
      
              <div class="messages-box">
                <div class="list-group rounded-0">
                  <!-- ADD ITEMS HERE  -->
                  <%const roomsArray=[]%>
                  <%if(currentUser){%>
                    <% user != null && user.rooms.forEach(function(room){ %>
                      <% if(room._id != "favicon.ico" && roomsArray.includes(room._id)==false){ roomsArray.push(room._id)%>
                        <a class="list-group-item list-group-item-action active text-white rounded-0">
                          <!-- <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle"> -->
                            <!-- <div class="media-body ml-4"> -->
                              <div class="d-flex align-items-center justify-content-between mb-1"  style = "cursor: pointer;" onclick="location.href='/chat/<%=room._id%>'">
                                <h6 class="mb-0"><span><%=room._id%></span></h6>
                                <span><%=room.messages.length%> Messages</span>
                              </div>
                              <!-- <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p> -->
                            <!-- </div> -->
                          <!-- </div> -->
                        </a>
                      <% } %>
                    <% }) %>
                  <%}%> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-7 px-0" style='display: inline-flex;'> 
            <img style='max-width: 100%; max-height: 100%' src='/images/chat-bg.jpg'>
          </div> 
          <!-- rgb(231 212 212)!important -->
        </div>
      </div>
</body>
</html>