<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./chat/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
<body style="background-color: rgb(231, 212, 212);">
    <div class="container py-3 px-5">
        <!-- For demo purpose-->
        <header class="text-center">
        </header>
      
        <div class="row rounded-lg overflow-hidden shadow">
          
          <!-- Chat Box-->
          <div class="col-12 px-0">
            <div class="bg-gray px-4 py-2 bg-light" style="display: flex; justify-content: space-between;">
                <span class="h5 mb-0 py-1">Room ID -> <%=room._id%></span>
                <span class="h5 mb-0 py-1"><a href="/<%=room._id%>" style="text-decoration: none;">Join Room</a></span>
              </div>
            <div class="px-4 py-5 chat-box bg-white" style="height: 450px; overflow-y: scroll;">  
              <%room.messages.forEach((message)=>{%>
                <div class="media w-50 ml-auto mb-3">
                    <div class="media-body">
                      <div class="bg-primary rounded py-2 px-3 mb-2">
                        <p class="text-small mb-0 text-white"><%=message.text%></p>
                      </div>
                      <p class="small text-muted justify-content-end">Sent by <%=message.username.toUpperCase()%></p>
                    </div>
                  </div>
              <%})%>
            </div>
      
            <!-- Typing area -->
            <form action="#" class="bg-light">
              <div class="input-group">
                <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
                <div class="input-group-append">
                  <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                </div>
              </div>
            </form>
      
          </div>
        </div>
      </div>
</body>
</html>