<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Microsoft Teams</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="./assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="./assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #212529!important;">
    <!-- <div> -->
    <a class="navbar-brand" href="#">Teams</a>
    <!-- </div> -->
    <!-- <div> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <%if(currentUser){%>
          <a class="nav-item nav-link" href="/chat">Chat</a>
        <%}%>
        <%if(!currentUser){%>
          <a class="nav-item nav-link" href="/login">Login</a>
        <%}else{%>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        <%}%>
      </div> 
    </div>
  <!-- </div> -->
  </nav>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h2 class="modal-title" id="exampleModalLongTitle">Add People</h2> -->
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <form action="/join" method = "POST">
      <div class="modal-body">
        <input type="text" name = "url" class="form-control roomLinkJoin" placeholder="Enter room code" aria-label="Recipient's username" aria-describedby="button-addon2">
        <!-- <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #7cc576; color: white;">JOIN</button> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" onclick="sendMail()">Send Invite</button> -->
        <button class="btn btn-outline-secondary" id="button-addon2" style="background-color: #7cc576; color: white;">JOIN</button>
      </div>
      </form>
    </div>
  </div>
</div>
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <!-- <a href="index.html" class="hero-logo"></a> -->
      <img src="./assets/img/hero-logo.png" alt="" data-aos="zoom-in" style="margin-bottom: 2rem;">
      <h1 data-aos="zoom-in">Welcome To MS Teams</h1>
      <h2 data-aos="fade-in">connecting the world</h2>
      <div class="buttons-box">
        <a data-aos="fade-in" data-aos-delay="200" href="/room" class="btn-get-started" style="text-decoration: none;">Create Room</a>
        <%if(currentUser){%>
          <a data-aos="fade-in" data-aos-delay="200" href="" style="text-decoration: none;" class="btn-get-started join" data-toggle="modal" data-target="#exampleModalCenter">Join Room</a>
        <%}%>      
      </div>
      <!-- <div data-aos="fade-in" class="input-group mb-3" style="align-items: center; justify-content: center; margin-top: 1rem;">
        <input type="text" class="form-control" style="max-width: 25%;" placeholder="Enter link" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="background-color: #7cc576; color: white;">JOIN</button>
      </div> -->
    </div>
  </section><!-- End Hero -->

  <!-- Vendor JS Files -->
  <script src="./assets/vendor/aos/aos.js"></script>
  <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./assets/vendor/php-email-form/validate.js"></script>
  <script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="./assets/js/main.js"></script>

</body>

</html>