<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="/stylesheets/main.css" >
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
			 <div class="navbar-header">
			  <a class="navbar-brand" href="/campgrounds">YelpCamp</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				
			  </ul>
			</div>
		  </div>
		</nav>		
		
		<div class="container">
		
		</div>
	
<div class="container">
	<div class="row">
		<h1 style="text-align:center;">SignUp Form</h1>
		
		<div style="width:30%; margin:25px auto;">
			<form action="/register" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" placeholder="username" name="username">
				</div>
				<div class="form-group">
					<input class="form-control" type="password" placeholder="password" name="password">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>
			</form>	
		</div>
	</div>
</div>



</body>
</html>